@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans", sans-serif;
  background: #03131a;
  color: azure;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  background-color: rgb(130, 35, 54);
  overflow: hidden;
}

.left-side {
  flex: 1;
  background: rgb(51, 78, 102);
  background: linear-gradient(
    155deg,
    rgba(51, 78, 102, 1) 0%,
    rgba(82, 177, 174, 1) 30%,
    rgba(225, 150, 97, 1) 54%,
    rgba(223, 170, 107, 1) 72%,
    rgba(199, 91, 131, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 6rem;
  position: relative;
}
.left-side .char{
  position: absolute;
    height: 650px;
    width: 650px;
    transform: rotate(-10deg);
    bottom: 5%;
    z-index: 3;
    right: -13%;
}
.left-side .cloud1{
  position: absolute;
  height: 150px;
  top: 18%;
  left: 15%;
}
.left-side .cloud2{
  position: absolute;
  height: 150px;
  top: 8%;
  left: 50%
}
.right-side {
  background: #212124;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 3rem 6rem;
}

h2 {
  align-self: flex-start;
  padding: 0 20px;
  font-size: 3rem;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  max-width: 400px;
  padding: 2rem 1rem;
  border-radius: 8px;
}

input {
  border: 0;
  padding: 20px 40px;
  border-radius: 10px;
  outline: 0;
  width: 100%;
  color: azure;
  caret-color: azure;
  background: transparent;
  box-shadow: 0px 0px 10px rgba(210, 210, 210, 0.075),
    -6px -6px 10px rgba(255, 255, 255, 0.05),
    6px 6px 8px rgba(255, 255, 255, 0.025), 6px 6px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}
input:focus {
  padding: 20px 45px;
  border: double 3px transparent;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0), rgb(29, 29, 29)),
    linear-gradient(to right, #488a8c, #946541, #9a485f);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transform: translateX(15px);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.btn {
  border: 0;
  padding: 20px 40px;
  border-radius: 10px;
  outline: 0;
  width: 80%;
  color: azure;
  caret-color: azure;
  background: transparent;
  box-shadow: 0px 0px 10px rgba(210, 210, 210, 0.075),
    -6px -6px 10px rgba(255, 255, 255, 0.05),
    6px 6px 8px rgba(255, 255, 255, 0.025), 6px 6px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.btn span {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #4ea7aa, #cd7938, #c04e6e);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: inherit;
  z-index: 1;
}

.btn:hover::after {
  opacity: 1;
  cursor: pointer;
  color: azure;
}
form p {
  opacity: 0.3;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.social-icons a {
  text-decoration: none;
  border: 0;
  padding: 15px 20px;
  border-radius: 10px;
  outline: 0;
  color: rgb(177, 177, 177);
  box-shadow: -3px -3px 14px rgba(140, 140, 140, 0.153),
    -3px -3px 14px rgba(179, 179, 179, 0.073),
    6px 6px 10px rgba(255, 255, 255, 0.025), 6px 6px 14px rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out;
}

.fa-brands {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(#4ea7aa, #cd7938, #c04e6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-icons a:hover {
  transform: scale(1.1);
  border: 1px solid rgba(156, 156, 156, 0.619);
}
